@{
    ViewData["Title"] = "Personal Details";
}

@model Document_Control_System.Data.Models.UserModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/css/styles.css">
    <style>
        .custom-element {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
        }
    </style>
</head>
<body>
    <button onclick=MembershipPayments()>Membership Payments</button>
    <button onclick=LateFeesPayments()>Late Fees Payments</button>

    <script>
        function MembershipPayments() {
            //ToDo
        }

        function LateFeesPayments() {
            //ToDo
        }
    </script>
</body>