@{
    ViewData["Title"] = "Staff Menu";
}

@model Document_Control_System.Data.Models.UserModel

<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/_Layout.cshtml.css">
    <style>
        .custom-element {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
        }
    </style>
</head>
<body>
    <p>Name: @Model.UserName</p>
    <button onclick=ResetUserPassword()>Reset User Password</button>
    <button onclick="window.location.href='MainMenu.cshtml'">Log Out</button>

    <script>
        function ResetUserPassword() {
            //ToDo
        }

    </script>
</body>
</html>