<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="~/_Layout.cshtml.css">
    <style>
        .custom-element {
            background-color: #007bff;
            color: #fff;
            padding: 10px;
        }
    </style>
</head>
<body>
    <h2>Book Successfully Checked Out</h2>

    <form asp-controller="Library" asp-action="Index" method="post">
        <button type="submit">Return</button>
    </form>
</body>
</html>